.cartContainer {
  display: flex;
  align-self: center;
  overflow-x: scroll;
  width: 100%;
  height: 100%;

  .crossIconContainer {
    cursor: pointer;
    border: 2px $darkpink solid;
    border-radius: 5px;
    clip-path: polygon(0 79%, 0% 100%, 25% 100%);
    padding: 105px;
    position: absolute;
    bottom: 4px;
    left: 0;
  }
}

.checkoutBtn {
  cursor: pointer;
  margin-left: 30px;
  font-family: $primary-font;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(136, 90, 90, 0.4);
  background-color: $white;
  border: 1px black solid;
  width: 150px;
  height: 60px;
}
.checkoutBtn:hover {
  background-color: $lightpink;
  transform: scale(1.1);
}

.cartTotal {
  font-family: $primary-font;
  margin: 20px 30px;
  font-weight: 200;
}
#cartTotal {
  font-weight: 800;
}
