header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .blueContainer {
    height: 70%;
    width: 100%;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    top: 0;

    .pinkContainer {
      margin: 50px 50px 0 50px;
      border-radius: 5px 5px 0 0;
      background-color: $lightpink;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;

      .desktopLinksContainer {
        display: none;

        .linksContainer {
          .links {
            color: $black;
            font-family: $header-font;
            cursor: pointer;
            text-decoration: none;
            margin-top: 10px;
          }
        }
      }

      .hamburgerMenuContainer {
        margin: 9px 50px 0 0;

        .burgerContainer {
          @include for-tablet-landscape-up {
            display: none;
          }

          .burgerMenu {
            height: 3px;
            width: 35px;
            background-color: black;
            margin-bottom: 3px;
          }
        }
      }
    }
    .logoImageContainer {
      padding: 0;
      margin: 20px 50px 30px 50px;

      @include for-tablet-landscape-up {
        margin: 0 30px 30px 30px;
      }

      @include for-desktop-up {
        margin: 0 30px 30px 30px;
      }
      @include for-big-desktop-up {
        margin: 50px 30px 0 30px;
      }

      .logoImage {
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}

.tabletHeader {
  display: none;

  .tabletLogoHeader {
    font-family: $header-font;
  }
}

.header {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;

  .logoNameContainer {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px 50px;

    .logoName {
      font-size: 15pt;
      font-family: $header-font;
      margin: 0;

      @include for-tablet-landscape-up {
        display: none;
      }
    }
  }
}
