.checkoutProductsContainer {
  width: 100%;
  height: 200px;

  @include for-tablet-landscape-up {
    width: 50%;
  }
}

.checkoutBody {
  background-color: $lightgrey;
  .checkoutHeader {
    font-family: $header-font;
    font-size: 12pt;
    margin-top: 10px;

    @include for-phone-landscape-up {
      margin-top: 20px;
      font-size: 18pt;
    }
  }

  .logoPaymentContainer {
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    .paymentLogo {
      height: 100%;
      width: 100%;
    }
  }

  .checkoutContainer {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    width: 95vw;

    @include for-phone-only {
      width: 80vw;
    }
    @include for-phone-landscape-up {
      width: 70vw;
    }
    @include for-tablet-landscape-up {
      width: 90%;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
    @include for-desktop-up {
      width: 70%;
    }

    .continueShopping {
      width: 100%;
      height: 60px;
      display: flex;
      .continueShoppingButton {
        border-radius: 5px;
        width: 130px;
        height: 20px;
        background-color: $lightgrey;
        text-align: center;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
        margin: 10px;
        /*         padding: 5px;
 */
      }
    }

    .firstForm {
      display: flex;
      flex-direction: column;
      .personalDataForm {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .nextButtonContainer {
          display: flex;
          justify-content: center;
          .nextButton {
            text-align: center;
            background-color: $lightgrey;
            width: 30%;
            border-radius: 5px;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
          }
        }
      }
    }

    .secondForm {
      display: flex;
      flex-direction: column;

      .paymentForm {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .checkoutButtonContainer {
          display: flex;
          justify-content: center;
          .checkoutButton {
            text-align: center;
            background-color: $lightgrey;
            width: 30%;
            border-radius: 5px;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .acceptedCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .imgCard {
      width: 30px;
      padding: 10px;
    }
  }

  .showTotal {
    margin-top: 20px;
  }
}
